* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    scrollbar-width: thin;
    scrollbar-color: rgba(185, 185, 185, 0.4) transparent;

    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(185, 185, 185, 0.4);
        border-radius: 2px;
    }
}


h1, h2, h3 {
    color: rgb(70, 70, 70);
}

@import "./song";
@import "./player";
@import "./library"